.main-section {
  width: 60vw;
  min-height: 85vh;
  border: 0.1rem solid black;
  display: grid;
  gap: 1rem;
  grid-auto-rows: 30rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}
